.title {
  width: 80%;
  border: 5px black solid;
  padding: 10px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  margin-top: 5%;
}

li {
  display: inline;
  padding: 5px;
}
