.title {
  display: flex;
  width: 500px;
  border: 5px black solid;
  padding: 10px;
  align-self: center;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15%;
  margin-top: 5%;
}
